@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply w-10/12 
    sm:w-540
    md:w-720
    lg:w-960
    xl:w-1140
    2xl:w-1320 
    /* px-8 */
    h-full
    mx-auto
}
.black-button {
    background-color: #232323;
    @apply uppercase   text-white ease-in-out duration-300
    hover:bg-inherit hover:text-black py-2 px-4 
}
.white-button {
    background-color: white;
    @apply uppercase    ease-in-out duration-300 text-black
    hover:bg-black hover:text-white py-2 px-4 
}

* {
    font-family: 'Fira Sans', sans-serif;
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
}

