@tailwind base;
@tailwind components;
@tailwind utilities;

.imageRotateHorizontal:hover{
    -moz-animation: spinHorizontal .8s infinite linear;
    -o-animation: spinHorizontal .8s infinite linear;    
    -webkit-animation: spinHorizontal .8s infinite linear;
    animation: spinHorizontal .8s infinite linear;
}

@keyframes spinHorizontal {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}


.container {
    @apply w-10/12 
    sm:w-540
    md:w-720
    lg:w-960
    xl:w-1140
    2xl:w-1320 
    /* px-8 */
    h-full
    mx-auto
}
.black-button {
    background-color: #232323;
    border: 1px solid #232323;
    @apply uppercase   text-white ease-in-out duration-300
    hover:bg-inherit hover:text-black py-2 px-4 
}
.white-button {
    background-color: white;
    @apply uppercase    ease-in-out duration-300 text-black
    hover:bg-black hover:text-white py-2 px-4 
}

* {
    font-family: 'Fira Sans', sans-serif;
/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
}

